*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /* Центрирование блока .content */
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  max-width: 1140px; 
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: end;
  gap: 30px;
  padding: 260px 10px 111px 10px;
}



/* Видео */
.result__video-container {
  position: relative; 
  width: 711px;
  height: 386px; 
  margin-bottom: 16px; 
}

.result__video-container video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}




/* Поиск*/
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Fira Sans Condensed';
}

.search-form__fieldset{
  border: none; 
}

.search-form__fieldset-title{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__label {
  position: relative; 
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  border: 1px solid transparent; 
}


.search-form__label:has(.search-form__textfield:focus-visible)::after {
  content: '';
  position: absolute;
  top: -2px; 
  left: -2px; 
  right: -2px; 
  bottom: -2px;
  border: 1px solid #fff; 
  pointer-events: none; 
}


.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed';
  width: 225px;
  appearance: none; 
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; 
  border-left: none; 
  border-right: none; 
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #1B1919;
  color: rgba(255, 255, 255, 0.7);
  padding: 3px 0;
  outline: none; 
}

.search-form__textfield:focus {
  outline: none; 
}

.search-form__textfield:active {
  border: 1px solid #fff; 
}





.search-form__checkbox-list {
  display: flex;
  gap: 15px; 
  align-items: center; 
}

.search-form__checkbox {
  display: none; 
}

.search-form__pseudo-checkbox {
  width: 19px; 
  height: 19px; 
  background-color: #1B1919;
  border: 1px solid #fff; 
  cursor: pointer; 
  position: relative; 
}

.search-form__label-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 4px 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline; 
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff; 
  transform: translate(-50%, -50%);
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  border: 1px solid #fff; 
  border-radius: 0; 
  padding: 0 1px;
}

.search-form__checkbox:focus {
  outline: none; 
}




.button{
  position: relative;
  background-color:  #1B1919;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: none; 
}

.button:focus-visible::after {
  content: '';
  position: absolute;
  top: -3px; 
  left: -3px; 
  right: -3px; 
  bottom: -3px; /* Создание отступа снизу */
  border: 1px solid #fff; /* Цвет и толщина обводки */
  pointer-events: none; /* Чтобы псевдоэлемент не блокировал клик */
}

.search-form__submit-button {
  padding: 6px 73px;
  align-self: flex-end;
}




/*Контент*/

.content__details {
  min-width: 399px;
  max-width: 416px;
}

.title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 20px; 
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative; 
  height: 300px; 
  overflow-y: auto; 
}

.content__list-item:last-child {
  margin-bottom: 0; 
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block; 
  margin: 2px; 
}

.content__video-card {
  display: flex; 
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 5px 0;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.content__video-card-thumbnail {
  height: 103px; 
  overflow: hidden; 
}

.content__video-card-thumbnail img {
  width: 100%; 
  height: auto; 
  object-fit: cover;
}

.content__video-card-description-container {
  padding-left: 5px;
}


.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050; 
}


.content__card-link:focus {
  outline: none; 
}

.content__card-link:focus-visible {
  outline: 3px solid #fff; 
  outline-offset: 2px; 
}







.more-button{
  padding: 6px 136px;
}